<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3">Edit Plan Type</h1>
      <%= link_to 'Cancel', project_plan_type_path(@project), class: "btn btn-link" %>
    </div>

    <div class="bg-white rounded shadow p-8">
      <%= render 'form', plan_type: @plan_type %>
    </div>
  </div>
</div>
