 
          <tr class="group border-t border-gray-400 hover:bg-gray-100" data-controller="toggle">
            <td class="p-3">
                <%= check_box_tag service_needed.service_id, service_needed.service_id,  service_needed.status != 'Completed', class: 'form-checkbox service-checkbox', name: "services_selected_list[]", data: { action: "toggle#calculate_duration" }%>
            </td>
            <td class="p-3"><%= service_needed.service.name %></td>
            <td class="p-3"><%= service_needed.status %></td>              
            <td class="p-3 service-duration"><%= service_needed.service.duration %></td>
          </tr>
          <% if service_needed.status != 'Completed' %>
           <% @duration += service_needed.service.duration.to_i %>
           <% end %>
